$navBg: #0C0C0C;
$siteBg: #181818;

$accent1: #8B1EF7;

$gradient: linear-gradient(270deg, #8B1EF7, #5931FF);
$gradientHover: linear-gradient(270deg, lighten(#8B1EF7, 5%), lighten(#5931FF, 5%));


// General
$siteDefaultPadding: 40px;
$siteTabletPadding: 30px;
$siteMobilePadding: 20px;

// Header
$mobileHeaderDefaultSize: 80px;
$mobileHeaderSmall: 60px;