// Gradients
@mixin gradientAnimation {
    background: $gradient;
    background-size: 400% 400%;
    animation: GradientAnimation 30s ease infinite;

    @keyframes GradientAnimation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}
@mixin gradientHover {
    background: $gradientHover;
}

/* Media Queries */ 
$media-queries: (
    'mobile': 'only screen and (max-width: 667px)',
    'tablet': 'only screen and (min-width: 668px) and (max-width: 1023.9px)',
    'largeTablet': 'only screen and (max-width: 1300px)',
    'desktop': 'only screen and (min-width: 1024px)',


    'mobile-tablet': 'only screen and (max-width: 667px), only screen and (min-width: 668px) and (max-width: 1023.9px)'
);
@mixin forBreakpoint($conditions) {
    @media #{$conditions} {
        @content;
    }
}


// Buttons
@mixin btnMain {
    padding: 15px 40px;
    background-color: white;
    font-size: 16px;
    border-radius: 20px 5px 20px 5px;
    border: none;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    display: block;
    text-decoration: none;
    &:hover {
        &::after {
            width: 80%;
        }
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 5px;
        bottom: 5px;
        background-color: $accent1;
        width: 30%;
        height: 5px;
        border-radius: 10px;
        transition: 0.3s ease-in-out;
        transition-property: width;
    }
}
.btnMain {
    @include btnMain;
}