body {
    font-family: 'Roboto', sans-serif;
}

$titleColour: #fff;
$bodyColour: #B1B1B1;

@mixin h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: $titleColour;
    font-size: 26px;
}
@mixin h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: $titleColour;
}
@mixin h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: $titleColour;
    font-size: 18px;
    line-height: 26px;
}

@mixin title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: $titleColour;
}
@mixin body {
    font-family: 'Roboto', sans-serif;
    color: $bodyColour;
}

.typograpy-h1 {@include h1};
.typograpy-h2 {@include h2};
.typograpy-h3 {@include h3};
.title {@include title};
.body {@include body};