<footer class="footer-root l--f l--f-j-c l--f-a-c l--bm-t-l">
    Built using&nbsp;<a href="https://github.com/WillYallop/static-site-generator">@SSG</a>&nbsp;&&nbsp;<a href="https://github.com/WillYallop/functionalities"> @functionalities </a>!
</footer>