
<div class="nav-sidebar" data-toggler-receiver="navigtion-sidebar">
  <div class="nav-sidebar__inner">
    <!-- intro -->
    <div class="l--f l--f-a-c">
      <div class="nav-sidebar__pp"></div>
      <div class="l--f l--f-d-c">
        <author class="t--b t--medium">William Yallop</author>
        <span>Web Developer</span>
      </div>
    </div>
    <!-- nav -->
    <nav class="nav-sidebar__nav l--bm-t-l">
      <ul>
        <li>
          <a href="/">Projects</a>
        </li>
        <li>
          <a href="/blogs">Blogs</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<button class="nav-sidebar__toggle" aria-label="Toggle navigation bar" data-toggler="navigtion-sidebar">
    <span class="sr-only">Toggle navigation bar</span>
</button>
