@use "./index.scss" as *;

body {
  font-size: 16px;
  background-color: var(--bg);
  font-family: $font_family;
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.preload {
    * {
      transition: all 0s ease 0s !important;
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

picture {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
