{% layout "../layout/main.liquid" %}

{% block head %}{% endblock %}

{% block mainContent %}

  <!-- Section Header -->
  {% include '../components/section-header.liquid', title: blogs.title, description: blogs.description %}

  <div class="coming-soon l--sp-h">
    <div class="coming-soon__inner">
      <p>COMING SOON</p>
    </div>
  </div>

  {%- comment -%}
    {% for blog in blogs.list %}
    <li>
    <a href="/blog/{{ blog.slug }}">{{ blog.title }}</a>
    </li>
    {% endfor %}

    {% if blogs.next %}
    <a href="{{ blogs.next }}">Next</a>
    {% endif %}
    {% if blogs.previous %}
    <a href="{{ blogs.previous }}">Previous</a>
    {% endif %}{%- endcomment -%}

{% endblock %}
