// ------------------------------------
// Background colours
// ------------------------------------
$colours: (
  _error: #d33f49,
  _success: #659b5e,
  _warning: orange,
  // background
  _background: rgb(255, 255, 255),
  _section: #ebeff2,
  // Typography
  _title: rgb(15, 15, 15),
  _text: rgb(32, 32, 32),
  // Accents
  _primary: #b8dbe4,
  _primary-light: rgb(26, 26, 26),
  _secondary: #262730,
);

// Light mode
:root {
  --bg: #{map-get($map: $colours, $key: _background)};
  --bg-section: #{map-get($map: $colours, $key: _section)};

  --error: #{map-get($colours, _error)};
  --success: #{map-get($colours, _success)};
  --warning: #{map-get($colours, _warning)};

  --title: #{map-get($colours, _title)};
  --text: #{map-get($colours, _text)};

  --primary: #{map-get($map: $colours, $key: _primary)};
  --primary-light: #{map-get($map: $colours, $key: _primary-light)};
  --secondary: #{map-get($map: $colours, $key: _secondary)};
}
