@use "./index.scss" as *;

.coming-soon {
  margin-top: 40px;
  padding-bottom: rem(40);
  &__inner {
    background-color: var(--bg-section);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: rem(600);
    p {
      font-size: rem(24);
      font-weight: 500;
      opacity: 0.2;
    }
  }
}
