@use "./index.scss" as *;

.nav-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: rem(300);
  background-color: var(--primary);
  border-left: rem(10) solid var(--secondary);
  overflow-y: auto;
  transition: left 0.3s ease;
  z-index: 9;
  &__inner {
    padding: rem(40) rem(20) rem(20);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  &__pp {
    width: rem(70);
    height: rem(70);
    border-radius: 50%;
    background-color: var(--bg);
    margin-right: rem(15);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__nav {
    ul {
      li {
        margin-bottom: rem(5);

        a {
          @include animate;
          display: block;
          padding: rem(5) 0;
          font-size: rem(18);
          color: var(--text);
          font-weight: 500;
          &:hover {
            color: var(--title);
          }
          &.active {
            position: relative;
            color: var(--title);
            &:before {
              content: "";
              position: absolute;
              left: rem(-20);
              top: 50%;
              transform: translateY(-50%);
              height: rem(30);
              width: rem(6);
              background-color: var(--secondary);
              border-radius: 0 rem(5) rem(5) 0;
            }
          }
        }
      }
    }
  }
  &__toggle {
    display: none;
    position: fixed;
    bottom: rem(20);
    right: rem(20);
    width: rem(60);
    height: rem(60);
    background-color: var(--secondary);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 10;
    svg {
      height: rem(20);
      width: rem(20);
      fill: white;
    }
  }

  &__footer-link {
    display: flex;
    margin-top: 20px;
    a {
      @include animate;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      background-color: rgba(14, 14, 14, 0.6);
      height: rem(40);
      width: rem(40);
      border-radius: 50%;
      &:hover {
        background-color: rgba(14, 14, 14, 0.8);
      }
      &:first-child {
        margin-right: rem(10);
      }
      svg {
        height: rem(20);
        width: rem(20);
        fill: white;
      }
    }
  }

  @include tablet {
    left: rem(-300);
    &.active {
      left: 0;
    }
    &__toggle {
      display: block;
    }
  }
}
