@use "./index.scss" as *;

.project-gallery-root {
  overflow: hidden;
  background-color: var(--bg-section-dark);
  &__wrapper {
    overflow: hidden;
  }
  &__gallery {
    display: flex;
    gap: rem(20);
    height: rem(600);
    overflow-x: scroll;
    picture {
      display: block;
      border-radius: rem(10);
      border: rem(1) solid var(--secondary);
      overflow: hidden;
      height: 100%;
      img {
        object-fit: cover;
      }
    }
  }
  &__image {
  }
  @include tablet {
    &__wrapper {
      margin-right: calc(((calc(100vw) - 100%) / 2) * -1);
    }
  }
}
