@use "./index.scss" as *;

.project-list-root {
  &__filter {
    padding: rem(40) 0 0 rem(40);
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    &__item {
      @include animate;
      border-radius: rem(20);
      background-color: white;
      border: rem(1) solid var(--secondary);
      padding: rem(5) rem(15);
      font-size: rem(16);
      margin-right: rem(10);
      white-space: nowrap;
      cursor: pointer;
      &.active {
        background-color: var(--primary);
        border-color: var(--primary);
      }
      &:hover {
        background-color: var(--primary);
        border-color: var(--primary);
      }
    }
  }
  &__items {
  }
  &__item {
    @include animate;
    background-color: var(--bg-section);
    border-radius: rem(10);
    display: none;
    transform: scale(0.9);
    opacity: 0;
    a {
      display: block;
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      picture {
        img {
          transform: scale(1.1);
        }
      }
    }
    &.active {
      display: block;
    }
    &.animate {
      animation: fadeZoomIn 0.5s ease-in-out;
      animation-fill-mode: forwards;
    }
    &__image {
      width: 100%;
      position: relative;
      border: rem(1) solid var(--secondary);
      border-radius: rem(10) rem(10) 0 0;
      overflow: hidden;
      &:after {
        content: "";
        display: block;
        padding-bottom: 56.25%;
      }
      &__tag {
        position: absolute;
        top: rem(15);
        left: rem(15);
        z-index: 2;
        background-color: var(--primary);
        font-size: rem(14);
        border-radius: rem(20);
        padding: rem(5) rem(10);
        text-transform: capitalize;
      }
      &__complete {
        position: absolute;
        top: rem(15);
        right: rem(15);
        height: rem(25);
        width: rem(25);
        border-radius: 50%;
        background-color: var(--success);
        z-index: 2;
        svg {
          height: rem(15);
          fill: rgb(255, 255, 255);
        }
      }
      &__inner {
        z-index: 1;
        picture {
          img {
            @include animate;
          }
        }
      }
    }
    &__textarea {
      padding: rem(15);
      h2 {
        font-size: rem(18);
      }
      p {
        margin-top: rem(5);
        font-size: rem(14);
      }
    }
  }

  @include tablet {
    &__filter {
      padding: rem(40) 0 0 rem(30);
    }
  }
  @include mobile {
    &__filter {
      padding: rem(40) 0 0 rem(20);
    }
    &__items {
      margin-top: rem(20) !important;
      padding: 0 20px;
    }
  }
}
