---
---

<div class="">
  <!-- Search -->
  <a
    href="/"
    class="hidden h-strip w-full px-5 md:px-mobile bg-background-secondary text-typography text-sm md:flex items-center fill-typography hover:text-accent hover:fill-accent duration-200"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 320 512"
      class="h-4 w-4 mr-2.5"
      ><path
        d="M9.4 233.4a32.05 32.05 0 0 0 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"
      ></path></svg
    >
    Go back</a
  >
  <!-- Body -->
  <article
    class="p-5 md:p-mobile typography prose prose-lg max-w-full w-full text-typography md:h-contentoffset md:overflow-y-auto"
  >
    <slot />
  </article>
</div>
