<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{  "/css/main.css" | relativeAsset }}" /> {% block head %} {% endblock %}
    <script>
        window.addEventListener("DOMContentLoaded", function () { document.body.classList.remove('preload'); });
    </script>
  </head>
  <body class="preload">
    {% include '../components/navigation.liquid' %}
    <main class="layout-main">
        {% block mainContent %} {% endblock %}
    </main>
    {% include '../components/footer.liquid' %}
  </body>
  <script src="{{ "/js/index.js" | relativeAsset }}" async></script> {% block scripts %} {% endblock %}
</html>
